.ws-ls-disabled *, .ws-ls-disabled-pro-plus *
{
  color: #CCCCCC !important;
}
.ws-ls-disabled th::after {
    content: "\A(Pro version)";
    color: red;
    font-weight: bold;
    clear: both;
    width:100%;
    white-space: pre;
}
.ws-ls-disabled-pro-plus th::after {
    content: "\A(Pro Plus version)";
    color: #FFA500;
    font-weight: bold;
    clear: both;
    width:100%;
    white-space: pre;
}
.ws-ls-advanced-data-table
{
	table-layout: auto !important;
}
.ws-ls-advanced-data-table .child ul{
	width: 100%;
}
.ws-ls-advanced-data-table .dtr-title{
	width: 20%;
}

.ws-ls-advanced-data-table th
{
	padding: 1px 1px 1px 3px !important;
}
.ws-ls-notice-of-refresh {
	display: none;
}
.ws_ls_display_form {
	width: 100%;
}
.ws_ls_display_form label, .ws_ls_display_form input, .ws-ls-user-pref-form label, .ws-ls-user-pref-form input, #we-ls-user-pref-submit {
	display: block;
}
.ws-ls-user-pref-form input, .ws-ls-user-pref-form select {
	margin-bottom: 20px;
}
.widefat th {
    font-weight: bold;
}
.ws-ls-loss, .ws-ls-good, .ws-ls-healthy {
    color: #008000;
}
.ws-ls-gain, .ws-ls-bad, .ws-ls-overweight {
    color: #ffA500;
}
.ws-ls-heavilyoverweight {
    color: #ff0000;
}
.ws-ls-user-preview {
	width: 100%;
	clear: both;
}
.ws-ls-user-preview img {
	max-height: 100%;
    max-width: 100%;
}

.ws-ls-sidebar-stats {
    width: 100%;
    text-align: left;
}
.ws-ls-sidebar-stats th {
    font-weight: 600;

}
.ws-ls-sidebar-stats th, .ws-ls-sidebar-stats td  {
    border-bottom: 1px dotted #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ws-ls-sidebar-stats .last th, .ws-ls-sidebar-stats .last td {
    border: none !important;
}
.ws-ls-user-header-buttons {
	float: right;
}
.ws-ls-macro {
    margin-bottom: 10px;
}
.ws-ls-settings h3, .ws-ls-macro .row-title {
    color: #00a0d2 !important;
}
.ws-ls-user-data .fa {
	font-size: 13px !important;
	color: #555 !important;
}
.ws-ls-upgrade-button {
	width:40%;
	font-size:16px !important;
	text-align:center;
}
.ws-ls-photo-current {
	margin-top: 15px;
}
.ws-ls-photo-select {
	margin-top: 25px;
	clear: both;
}