.idea/*
.idea/modules.xml
.idea/vcs.xml
.idea/weight-loss-tracker.iml
.idea/workspace.xml
includes/languages/.DS_Store
assets/css/.DS_Store
assets/css/libraries/.DS_Store
.DS_Store
.github/.DS_Store
includes/.DS_Store
includes/react/frontend/node_modules
.DS_Store
includes/.DS_Store
