.idea/*
.idea/modules.xml
.idea/vcs.xml
.idea/weight-loss-tracker.iml
.idea/workspace.xml
node_modules/
includes/languages/.DS_Store
assets/css/.DS_Store
assets/css/libraries/.DS_Store
.DS_Store
.github/.DS_Store
includes/.DS_Store
includes/react/frontend/node_modules
docs/_site/*
playwright/.auth/user.json
playwright/playwright/.auth/user.json
assets/.DS_Store
.DS_Store
node_modules/.bin/playwright
playwright-report/
.auth/user.json
.auth/user.json
