/*
Color Pallete
HEX: #92a8d1
HEX: #034f84
HEX: #ef8988
HEX: #f7786b

 */

.ws-ls-hide, .ws-ls-hide-if-admin {
    display: none !important;
}
.ws-ls-disabled *, .ws-ls-disabled-pro-plus *
{
    color: #CCCCCC !important;
}
.ws-ls-disabled th::after {
    content: "\A(Pro version)";
    color: #ef8988;
    font-weight: bold;
    clear: both;
    width:100%;
    white-space: pre;
}
.ws-ls-disabled-pro-plus th::after {
    content: "\A(Pro Plus version)";
    color: #f7786b;
    font-weight: bold;
    clear: both;
    width:100%;
    white-space: pre;
}
.ws-ls-advanced-data-table
{
    table-layout: auto !important;
}
.ws-ls-advanced-data-table .child ul{
    width: 100%;
}
.ws-ls-advanced-data-table .dtr-title{
    width: 20%;
}
.rtl .ws-ls-user-data-ajax th {
    text-align: right !important;
}

.ws-ls-advanced-data-table th
{
    padding: 1px 1px 1px 3px !important;
}
.ws_ls_display_form {
    width: 100%;
}
.ws_ls_display_form label, .ws_ls_display_form input,
.ws-ls-meta-fields-form label, .ws-ls-meta-fields-form input
#we-ls-user-pref-submit {
    display: block;
}
.ws-ls-user-pref-form input, .ws-ls-user-pref-form select {
    margin-bottom: 20px;
}
.widefat th {
    font-weight: bold;
}
.ws-ls-loss, .ws-ls-good, .ws-ls-healthy {
    color: #008000;
}
.ws-ls-gain, .ws-ls-bad, .ws-ls-overweight {
    color: #ffA500;
}
.ws-ls-heavilyoverweight {
    color: #ff0000;
}
.ws-ls-user-preview {
    width: 100%;
    clear: both;
}
.ws-ls-user-preview img {
    max-height: 100%;
    max-width: 100%;
}

.ws-ls-sidebar-stats {
    width: 100%;
    text-align: left;
}
.ws-ls-sidebar-stats th {
    font-weight: 600;

}
.ws-ls-sidebar-stats th, .ws-ls-sidebar-stats td  {
    border-bottom: 1px dotted #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ws-ls-sidebar-stats .last th, .ws-ls-sidebar-stats .last td {
    border: none !important;
}
.ws-ls-user-header-buttons {
    float: right;
}
.ws-ls-macro {
    margin-bottom: 10px;
}
.ws-ls-settings h3, .ws-ls-macro .row-title {
    color: #034f84 !important;
    font-size: 15px;
}
.ws-ls-settings th {
    font-weight: 300;
}
.ws-ls-user-data .fa {
    font-size: 13px !important;
    color: #555 !important;
}
.ws-ls-upgrade-button {
    font-size:16px !important;
    text-align:center;
    margin-bottom:10px !important;
    margin-right: 10px !important;
}
.ws-ls-photo-select {
    margin-top: 35px !important;
}
.ws-ls-photo-date {
    text-align: center;
}
.ug-textpanel-title {
    font-size: 10px !important;
}
.ws-ls-col-header {
    font-weight: bold;
}
.footable-empty td {
    font-size: 14px !important;
    font-style: italic;
}
.ws-ls-footable .row-title .footable-toggle {
    display: none;
}
.ws-ls-advertise {
    border: 2px solid #034f84;
    background-color: #92a8d1;
    color: #ffffff;
}
.ws-ls-advertise .hndle {
    border-bottom: 2px solid #034f84;
    background-color: #034f84;
    color: #ffffff !important;
}
.ws-ls-blur {
    filter:url(#wherearemyglasses);
    /* ^ for Firefox */
    -webkit-filter: blur(2px);
    /* ^ Webkit browsers */
    filter: blur(2px);
}
.ws-ls-blur th {
    display: inline-block;
}
.highlight-title  {
    font-size: 18px !important;
}
.ws-ls-admin-page .hndle {
    color: #034f84;
}

.ws-ls-advertise-pro-plus .hndle {
    background-color: #f7786b;
    color: #FFFFFF;
}
.ws-ls-advertise-pro .hndle {
    background-color: #ef8988;
    color: #FFFFFF;
}
.ws-ls-label-top {
    vertical-align: top;
}

/*
    Tables with div
 */
.ws-ls-table {
    width: 100%;
    display: table;
}
.ws-ls-row {
    display: table-row;
}
.ws-ls-cell {
    display: table-cell;
}
.ws-ls-label-col {
    width: 10%;
}
/*
    Custom Fields
 */
.ws-ls-meta-fields-form .ws-ls-table {
    margin-top: 10px;
}
.ws-ls-meta-fields-form .ws-ls-row {
    height: 40px;
}
.ws-ls-meta-fields-form .ws-ls-note, .ws-ls-mandatory, .ws-ls-info {
    font-size: 10px;
}
.ws-ls-meta-fields-form .ws-ls-info {
    font-style: italic;
}
.ws-ls-meta-fields-form .ws-ls-note, .ws-ls-validation-error, .ws-ls-mandatory, .ws-ls-mandatory-field, .ws-ls-not-enabled {
    color: red;
}
.ws-ls-mandatory-field {
    border: 1px solid red !important;
}

.ws-ls-badge-collection {
    width: 100%;
    display: table;
}
.ws-ls-badge-collection div {
    display: table-cell;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}
.ws-ls-badge-collection p {
    clear: left;
    font-size: 12px;
    margin-top: 0px;
}
.ws-ls-help-admin .button {
    margin-right: 10px;
}
.ws-ls-help-admin span {
    color: #1e69de;
    margin: 0px 10px 0px 0px;
}

/**
  Calorie Addition / Subtraction tables
 */
.ws-ls-calories-modify-table th, .ws-ls-calories-modify-table td {
  padding: 5px;
  width: 50px !important;
}

@media only screen and (max-width: 600px) {
    .ws-ls-user-data a span {
        display: none !important;
    }
}
/*
    Challenges
 */
.ws-ls-challenges-filters {
    padding: 0px 0px 10px 0px;
}
.ws-ls-challenges-filters label, .ws-ls-challenges-filters input[type=submit] {
    margin-left: 5px;
}
@media only screen and (max-width: 600px) {
    .ws-ls-challenges-filters * {
        width: 100%;
        display: block;
        margin: 0px !important;
    }
    .ws-ls-challenges-filters select {
        min-height: 30px;
        font-size: 13px;
        line-height: 1.1;
        padding: 1px 4px;
    }
}

/**
  Settings: Calorie subtract / add
 */
.ws-ls-calorie-subtract-ranges-rows, .ws-ls-calorie-add-ranges-rows {
  display: none;
}


.ws-ls-error-summary
{
  width: 100%;
  padding-left: 30px;
  color: red;
  display:none;
  margin-bottom: 20px;
}
.ws-ls-error-summary p {
  font-weight: bold;
  margin-bottom: 5px;
}
.ws-ls-error-summary ul
{
  width: 100%;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

/**
  Export
 */
.ws-ls-export-list {

}
.ws-ls-export-list li {
  border-bottom: 1px dotted #5C5C5C;
  margin-bottom: 0px;
  padding: 10px;
}
.ws-ls-export-list li:hover {
  background-color: #c7ddef;
}
.ws-ls-export-list span {
  float: right;
}
.ws-ls-export-progress-bar,.ws-ls-export-progress-bar:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}
.ws-ls-export-progress-bar-inner {
    color: #fff !important;
    background-color: #2196F3 !important;
    height: 30px;
}
