.ws-ls-tabs
{
    margin:30px;
}
.ws-ls-inner-form p
{
    font-size: 1.0em;
    margin-bottom: 5px;
}
.ws_ls_title
{
    margin-top: 0px !important;
    margin-bottom: 15px !important;

}
.we-ls-weight-form
{
    width: 100%;

}
input.ws-ls-invalid
{
    border: 1px solid red !important;
}
input.ws-ls-valid
{
    border: 1px solid green !important;
}
.ws-ls-photo-select .ws-ls-invalid + label {
    color: red !important;
}
.we-ls-weight-form input[type=number], .we-ls-weight-form input[type=text], .we-ls-weight-form textarea, .we-ls-weight-form select,
.we-ls-datepicker, .ws-ls-select, .ws-ls-user-pref-form input[type=text]
{
    width:98% !important;
    border: solid 1px #c1c1c1;
    transition: box-shadow 0.3s, border 0.3s;
    padding: 0px 0px 0px 5px;
}
.we-ls-weight-form input[type=number].focus, .we-ls-weight-form input[type=text].focus, .we-ls-weight-form select.focus,
.we-ls-datepicker.focus, .ws-ls-select.focus, .ws-ls-user-pref-form input, .ws-ls-user-pref-form select, .ws-ls-user-delete-all select {
    border: solid 1px #707070;
    box-sizing: content-box !important;
}
.we-ls-weight-form input[type=number], .we-ls-weight-form input[type=text], .we-ls-weight-form select, .we-ls-weight-form .we-ls-datepicker,
.we-ls-weight-form .ws-ls-select, .ws-ls-user-pref-form input, .ws-ls-user-pref-form select, .ws-ls-user-delete-all select
{
    height: 20px;
}
.we-ls-weight-form input[type=number], .we-ls-weight-form input[type=text], .we-ls-weight-form select, .we-ls-weight-form .we-ls-datepicker, .we-ls-weight-form .ws-ls-select,
.ws-ls-user-pref-form input, .ws-ls-user-pref-form select, .ws-ls-user-delete-all select {
    height: 30px;
}
.ws-ls-user-pref-form select, .ws-ls-user-delete-all select {
    width:100%;
    margin-bottom: 20px;
}
.ws-ls-user-pref-form form
{
    margin-bottom: 20px;
}
.we-ls-weight-form textarea
{
    padding:5px;
}
.ws-ls-error-summary
{
    width: 100%;
    padding-left: 30px;
    color: red;
    display:none;
    margin-bottom: 20px;
}
.ws-ls-error-summary p {
    font-weight: bold;
    margin-bottom: 5px;
}
.ws-ls-error-summary ul
{
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}
.ws-ls-error-text
{
    color: red;
    font-weight: bold;
}
.ws-ls-notice
{
    font-weight: bold;
}
.ws-ls-success
{
    color: green;
}

.ws-ls-table-options img, .ws-ls-edit-row, .ws-ls-delete-row
{
    width: 15px;
    height: 15px;
}
.ws-ls-advanced-data-table
{
    table-layout: auto !important;
}
.ws-ls-advanced-data-table .child ul{
    width: 100%;
}
.ws-ls-advanced-data-table .dtr-title{
    width: 20%;
}

.ws-ls-advanced-data-table th
{
    padding: 1px 1px 1px 3px !important;
}
.ws-ls-hide
{
    display: none !important;
}
.ws-ls-notice-of-refresh
{
    width: 100%;
    text-align: center;
    margin-bottom:3px;
    font-size:0.8em;
}
.ws-ls-tabs{margin:30px}.ws-ls-inner-form p{font-size:1em;margin-bottom:5px}.ws_ls_title{margin-top:0!important;margin-bottom:15px!important}.we-ls-weight-form{width:100%}.we-ls-datepicker,.we-ls-weight-form input[type=number],.we-ls-weight-form input[type=text],.we-ls-weight-form select,.we-ls-weight-form textarea,.ws-ls-select{width:98%!important;border:1px solid #c1c1c1;transition:box-shadow .3s,border .3s;padding:0 0 0 5px}.we-ls-datepicker.focus,.we-ls-weight-form input[type=number].focus,.we-ls-weight-form input[type=text].focus,.we-ls-weight-form select.focus,.ws-ls-select.focus,.ws-ls-user-delete-all select,.ws-ls-user-pref-form input,.ws-ls-user-pref-form select{border:1px solid #707070;box-sizing:content-box!important}.we-ls-weight-form .we-ls-datepicker,.we-ls-weight-form .ws-ls-select,.we-ls-weight-form input[type=number],.we-ls-weight-form input[type=text],.we-ls-weight-form select,.ws-ls-user-delete-all select,.ws-ls-user-pref-form input,.ws-ls-user-pref-form select{height:30px}.ws-ls-user-delete-all select,.ws-ls-user-pref-form select{width:100%;margin-bottom:20px}.ws-ls-user-pref-form form{margin-bottom:20px}.we-ls-weight-form textarea{padding:5px}.ws-ls-error-summary{width:100%;padding-left:30px;color:red;display:none}.ws-ls-error-summary ul{width:100%;padding:0;margin:0 0 10px}.ws-ls-error-text{color:red;font-weight:700}.ws-ls-notice{font-weight:700}.ws-ls-success{color:green}.dataTables_filter input{width:100px;padding:0}.dataTables_filter,.dataTables_length{margin:10px}.ws-ls-table-options img{width:15px;height:15px}.ws-ls-advanced-data-table{table-layout:auto!important}.ws-ls-advanced-data-table th{padding:1px 1px 1px 3px!important}.ws-ls-hide{display:none!important}.ws-ls-notice-of-refresh{width:100%;text-align:center;margin-bottom:3px;font-size:.8em}
.ws-ls-tabs
{
    margin:30px;
}
.ws-ls-inner-form p
{
    font-size: 1.0em;
    margin-bottom: 5px;
}
.ws_ls_title
{
    margin-top: 0px !important;
    margin-bottom: 15px !important;

}
.we-ls-weight-form
{
    width: 100%;

}
.we-ls-weight-form input[type=number], .we-ls-weight-form input[type=text], .we-ls-weight-form textarea, .we-ls-weight-form select,
.we-ls-datepicker, .ws-ls-select
{
    width:98% !important;
    border: solid 1px #c1c1c1;
    transition: box-shadow 0.3s, border 0.3s;
    padding: 0px 0px 0px 5px;
}
.we-ls-weight-form input[type=number].focus, .we-ls-weight-form input[type=text].focus, .we-ls-weight-form select.focus,
.we-ls-datepicker.focus, .ws-ls-select.focus, .ws-ls-user-pref-form input, .ws-ls-user-pref-form select, .ws-ls-user-delete-all select {
    border: solid 1px #707070;
    box-sizing: content-box !important;
}
.we-ls-weight-form input[type=number], .we-ls-weight-form input[type=text], .we-ls-weight-form select, .we-ls-weight-form .we-ls-datepicker,
.we-ls-weight-form .ws-ls-select, .ws-ls-user-pref-form input, .ws-ls-user-pref-form select, .ws-ls-user-delete-all select
{
    height: 30px;
}
.we-ls-weight-form input[type=number], .we-ls-weight-form input[type=text], .we-ls-weight-form select, .we-ls-weight-form .we-ls-datepicker, .we-ls-weight-form .ws-ls-select,
.ws-ls-user-pref-form input, .ws-ls-user-pref-form select, .ws-ls-user-delete-all select
{
    height: 30px;

}
.ws-ls-user-pref-form select, .ws-ls-user-delete-all select
{
    width:100%;
    margin-bottom: 20px;
}
.ws-ls-user-pref-form form
{
    margin-bottom: 20px;
}
.we-ls-weight-form textarea
{
    padding:5px;
}
.ws-ls-error-summary
{
    width: 100%;
    padding-left: 30px;
    color: red;
    display:none;
}
.ws-ls-error-summary ul
{
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}
.ws-ls-error-text
{
    color: red;
    font-weight: bold;
}
.ws-ls-notice
{
    font-weight: bold;
}
.ws-ls-success
{
    color: green;
}
.ws-ls-table-options img
{
    width: 15px;
    height: 15px;
}
.ws-ls-advanced-data-table
{
    table-layout: auto !important;
}
.ws-ls-advanced-data-table th
{
    padding: 1px 1px 1px 3px !important;
}
.ws-ls-hide
{
    display: none !important;
}
.ws-ls-notice-of-refresh
{
    width: 100%;
    text-align: center;
    margin-bottom:3px;
    font-size:0.8em;
}
.ws-ls-loading
{
    width: 16px !important;
    height: 16px;
    background-image: url(images/ajax-loader.gif);
}
.ws-col-rank {
    width: 20px;
}
.ws-ls-stats-table {
    width: 100%;
}
.ws-col-rank {
    width: 10px;
    text-align: center;
}
.ws-ls-alert-box {
    color:#555;
    border-radius:10px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.ws-ls-alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.ws-ls-error {
    background-color:#ffecec;
    border:1px solid #f5aca6;
}
.ws-ls-success {
    background-color:#e9ffd9;
    border:1px solid #a6ca8a;
}
.ws-ls-warning {
    background-color:#fff8c4;
    border:1px solid #f2c779;
}
.ws-ls-info {
    background-color:#e3f7fc;
    border:1px solid #8ed9f6;
}
.ws-ls-add-weight-button {
    margin: 10px 0px 20px 0px;
}
.ws-ls-loss, .ws-ls-good, .ws-ls-healthy {
    color: #008000;
}
.ws-ls-gain, .ws-ls-bad, .ws-ls-heavilyoverweight {
    color: #ffA500;
}

.ws-ls-user-data-ajax th, td {
    font-size: 13px;
}
.ws-ls-blockquote p {
    margin: 0px 0px 0px 5px;
}
.ws-ls-clear-existing-photo {
    margin-top: 5px;
}
.ws-ls-clear-existing-photo label, .ws-ls-clear-existing-photo input{
    float: left;
}
.ws-ls-photo-select p {
    margin-bottom: 0px;
}
.ws-ls-form-buttons {
    margin-top: 15px;
    clear: both;
}
.ws-ls-photo-frame {
    display:inline-block;
}
.ws-ls-photo-date {
    text-align: center;
}
.ws-ls-photo-date {
    font-size: 0.7em;
}
.ws-ls-col-header {
    font-weight: bold;
}
.ws-ls-footable .row-title .footable-toggle {
    display: none;
}
.footable-empty td {
    font-size: 14px !important;
    font-style: italic;
}
.ws-ls-tab-advanced-data span {
    font-weight: bold;
}
.ws-ls-force-show {
    display: block !important;
}
.rtl .ws-ls-user-data-ajax th {
    text-align: right !important;
}
/*
    Button
 */
.ws-ls-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.ws-ls-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.ws-ls-button:active {
    position:relative;
    top:1px;
}

/*
    Tables with div
 */
.ws-ls-table {
    width: 100%;
    display: table;
}
.ws-ls-row {
    display: table-row;
}
.ws-ls-cell {
    display: table-cell;
}
.ws-ls-label-col {
    width: 10%;
}
/*
    Custom Fields
 */
.ws-ls-meta-field {
    margin-top: 10px;
    border-top: 1px solid #FBFBFB;
    padding-top: 5px;
    width: 100%;
}
.ws-ls-meta-field .ws-ls-meta-field-title {
    font-weight: bold;
}

.ws-ls-meta-field-photo .ws-ls-photo-current a {
    width: 150px;
    height: 150px;
}
.ws-ls-meta-field-photo .ws-ls-clear-existing-photo a, .ws-ls-meta-field-photo .ws-ls-clear-existing-photo {
    float: left;
}
.ws-ls-meta-field-photo .ws-ls-photo-current p {
    font-style: italic;
    margin: 10px 0px 10px 0px;
}
.ws-ls-meta-field-photo .ws-ls-photo-current p, .ws-ls-meta-field-photo .ws-ls-photo-current label {
    font-size: 12px;
}
.ws-ls-photo-delete-existing {
    clear: both;
}
.ws-ls-meta-field-photo .ws-ls-photo-current {
    padding-bottom: 5px;
    margin-top: 10px;
}
.ws-ls-meta-field-photo .ws-ls-photo-title {
    font-style: italic;
    padding: 5px 0px 5px 0px;
}
.ws-ls-meta-field-photo .ws-ls-photo-select span {
    left: 3px;
}
